@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

.pokemonCard{
    min-height: 40vh;
}


.imagenPoke{
    width: 18em;
    height: 18em;
    margin-top: 3em;
}

table{
    text-align: center;
}

.nes-table-responsive{
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

table td{
    width: 18.75rem;
    
}

