@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

.pokemonCard{
    min-height: 40vh;
}


.imagenPoke{
    width: 15em;
    height: 15em;
    margin-top: 2em;
    overflow: hidden;
    padding-bottom: 10px;
}

table{
    text-align: center;
    width: 31rem;
}

.nes-table-responsive{
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

table td{
    width: 14rem;
    
}

@media (max-width: 400px) {
    .imagenPoke{
        width: 150px;
    }

    table{
        font-size: 10px;
    }
}
